.section1 {
  font-size: 15px;
  margin-left: 30px;
  margin-top: 20px;
}
.head {
  margin-left: 30px;
}
.section2 {
  text-align: center;
  margin-top: 100px;
}
.head1 {
  margin-bottom: 30px;
}

.last {
  margin-left: 20px;
  font-weight: bold;
  font-size: 15px;
  color: gray;
}
